<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" href="/css/bootstrap.min.css">-->
</head>
<body>
    <div id="app">
        <div v-if="!flag">
            用户名:<input type="text" v-model="loginForm.tel"><br/>
            密码:<input type="password" v-model="loginForm.password"><br/>
            <input type="button" value="登录" @click="login"/>
        </div>
        <div v-if="flag">
            <h1>登录成功</h1>
        </div>
    </div>

<!--    <script src="/js/jquery-3.5.1.min.js"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--    <script src="/js/bootstrap.min.js"></script>-->
    <script src="./js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                flag: false,
                loginForm: {
                    tel: "",
                    password: "",
                }
            },
            methods: {
                login() {
                    let that = this;
                    $.ajax({
                        url: "/user/login",
                        type: "POST",
                        data: that.loginForm,
                        success: res => {
                            that.flag = true;
                        }
                    });
                }
            }
        });
    </script>
</body>
</html>